@using HumanResources_Application.Models.DTOs.ExpenseTypeDTOs

@{
    ViewData["Title"] = "ExpenseTypeEdit";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}




@model UpdateExpenseTypeDTO



<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-12">
            <div class="breadcrumb-path mb-4">
                <h3>Edit Expense Type</h3>
            </div>
        </div>

        <div class="col-xl-12 col-sm-12 col-12">
            <form asp-area="CompanyManager" asp-controller="ExpenseType" asp-action="ExpenseTypeEdit" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="card">

                    <div class="card-body">

                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="input-group mb-3">

                                <div class="col-xl-6 col-sm-12 col-12">
                                    <label asp-for="ExpenseTypeName">Expense Type Name</label>
                                    <div class="form-group">
                                        <input asp-for="ExpenseTypeName" type="text" placeholder="Please enter expense type name..." />
                                    </div>
                                    <span asp-validation-for="ExpenseTypeName" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-success w-auto">Update Expense Type</button>
                <a asp-area="CompanyManager" asp-controller="ExpenseType" asp-action="ListExpenseType" class="btn btn-warning w-auto">Cancel </a>
            </form>

        </div>
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="form-btn">
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




