@using HumanResources_Application.Models.VMs.AppUserVMs;
@model ForgotPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Forgot Password - Human Resources</title>

    <link rel="shortcut icon" href="~/media/img/favicon.png" />
    <link rel="stylesheet" href="~/media/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/all.min.css" />
    <link rel="stylesheet" href="~/media/css/style.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>

<body>
    <div>
        <partial name="_Notification" />
    </div>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="~/media/image/loggo.gif" alt="Logo">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password?</h1>
                            <p class="account-subtitle">
                                Enter your email to get a password reset link
                            </p>

                            <form asp-controller="Account" asp-action="ForgotPassword" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="Email" class="form-control-label">Email Address</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" class="form-control" type="text" placeholder="Enter Your Email" />
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-lg btn-block btn-primary" type="submit"> Reset Password </button>
                                </div>
                            </form>

                            <div class="text-center dont-have">
                                Remember your password? <a asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/media/js/jquery-3.6.0.min.js"></script>
    <script src="~/media/js/popper.min.js"></script>
    <script src="~/media/js/bootstrap.min.js"></script>
    <script src="~/media/js/feather.min.js"></script>
    <script src="~/media/js/script.js"></script>
    <script src="https://kit.fontawesome.com/e9795d1447.js" crossorigin="anonymous"></script>

</body>
</html>