@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Forgot Password - Human Resources</title>

    <link rel="shortcut icon" href="~/media/img/favicon.png" />
    <link rel="stylesheet" href="~/media/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/all.min.css" />
    <link rel="stylesheet" href="~/media/css/style.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>

<body>
    <div class="card card-inverse-danger col-lg-4 mx-auto">
        <div class="card-body px-5 py-5">
            <p>
                Password reset link has been sent. Please check your E-mail Address.
            </p>
            <p class="sign-up">
                <a asp-action="Login">Click Here to go back to Login Page</a>
            </p>
        </div>
    </div>


    <script src="~/media/js/jquery-3.6.0.min.js"></script>
    <script src="~/media/js/popper.min.js"></script>
    <script src="~/media/js/bootstrap.min.js"></script>
    <script src="~/media/js/feather.min.js"></script>
    <script src="~/media/js/script.js"></script>
    <script src="https://kit.fontawesome.com/e9795d1447.js" crossorigin="anonymous"></script>

</body>
</html>