@using HumanResources_Application.Models.VMs.AppUserVMs;
@model ResetPasswordVM

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

    <title>Reset Password - Human Resources</title>


    <link rel="shortcut icon" href="~/media/image/favicon.png" />
    <link rel="stylesheet" href="~/media/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/media/css/select2.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/media/fontsawesome/all.min.css" />
    <link rel="stylesheet" href="~/media/css/style.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body>
    <div>
        <partial name="_Notification" />
    </div>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="~/media/image/HR.png" alt="Logo">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Change Password</h1>
                            <p1> Your password needs to be at least 6 characters long.</p1>
                            <form asp-action="ResetPassword" asp-controller="Account" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="pass-group">
                                        <input asp-for=Password type="password" class="form-control pass-input" placeholder="New Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-block btn-primary" type="submit" value="Login">Reset Your Password</button>
                                <input type="hidden" asp-for="Email">
                                <input type="hidden" asp-for="Code">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/media/js/jquery-3.6.0.min.js"></script>
    <script src="~/media/js/popper.min.js"></script>
    <script src="~/media/js/bootstrap.min.js"></script>
    <script src="~/media/js/feather.min.js"></script>
    <script src="~/media/js/select2.min.js"></script>
    <script src="~/media/js/jquery.slimscroll.min.js"></script>
    <script src="~/media/js/script.js"></script>
    <script src="https://kit.fontawesome.com/e9795d1447.js" crossorigin="anonymous"></script>
</body>
</html>
