@using HumanResources_Application.Models.DTOs.LeaveTypeDTOs

@model UpdateLeaveTypeDTO

@{
    Layout = "_LayoutEmployee";
}


<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-12">
            <div class="breadcrumb-path mb-4">
                <h3>Edit Leave Type</h3>
            </div>
        </div>

        <div class="col-xl-12 col-sm-12 col-12">
            <form asp-area="CompanyManager" asp-controller="LeaveType" asp-action="LEaveTypeEdit" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="card">

                    <div class="card-body">

                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="input-group mb-3">

                                <div class="col-xl-6 col-sm-12 col-12">
                                    <label asp-for="LeaveTypeName">Leave Type Name</label>
                                    <div class="form-group">
                                        <input asp-for="LeaveTypeName" type="text" placeholder="Please enter leave type name..." />
                                    </div>
                                    <span asp-validation-for="LeaveTypeName" class="text-danger"></span>
                                </div>

                                <div class="col-xl-6 col-sm-12 col-12">
                                    <label asp-for="DefaultDays">Default Days</label>
                                    <div class="form-group">
                                        <input asp-for="DefaultDays" type="text" placeholder="Please enter leave default days..." />
                                    </div>
                                    <span asp-validation-for="DefaultDays" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-success w-auto">Update Leave Type</button>
                <a asp-area="CompanyManager" asp-controller="LeaveType" asp-action="ListLeaveType" class="btn btn-warning w-auto">Cancel </a>
            </form>

        </div>
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="form-btn">
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }




